.customBefore::before {
    content: '';
    background: url('../../assets/Images/Items/leaft-product-left.png') no-repeat 50%;
    background-size: contain;
    border-bottom-left-radius: 2.6rem;
    bottom: -3%;
    content: '';
    height: 54%;
    left: 0;
    opacity: 1;
    position: absolute;
    width: 25%;
    z-index: 1;
}
.customAfter::after {
    background: url('../../assets/Images/Items/leaft-product-right.png') no-repeat 50%;
    background-size: contain;
    border-bottom-right-radius: 2.6rem;
    bottom: 0;
    content: '';
    height: 79%;
    opacity: 1;
    position: absolute;
    right: 0;
    width: 25%;
    z-index: 1;
}
