.activeTime {
    background-color: #009383;
    color: white;
}
.ranking-item::before {
    content: '';
    position: absolute;
    border-bottom: calc(60px / 2) solid transparent;
    border-right: 28px solid #fff;
    border-top: calc(60px / 2) solid transparent;
    height: 60px;
    left: -28px;
    top: 50%;
    transform: translateY(-50%);
}
.score-rank {
    border-bottom: calc(60px / 2) solid;
    border-top: calc(60px / 2) solid;
}
.scoreBar:before {
    border-bottom: 2px solid #009383;
    content: '';
    height: calc(44px / 1.4142);
    position: absolute;
    top: 38%;
    width: calc(44px / 1.4142);
    border-left: 2px solid #009383;
    left: -2.7rem;
    transform: rotate(45deg) translateY(-50%);
}
.scoreBar:after {
    border-bottom: 2px solid #009383;
    content: '';
    height: calc(44px / 1.4142);
    position: absolute;
    top: 38%;
    width: calc(44px / 1.4142);
    border-right: 2px solid #009383;
    right: -2.7rem;
    transform: rotate(-45deg) translateY(-50%);
}
