@import 'normalize.css';

html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
}
//font roboto
//normal
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../../assets/Fonts/Roboto/Roboto-Regular.ttf') format('woff2');
    font-weight: 400; /* Regular */
    font-style: normal;
}
@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('../../assets/Fonts/Roboto/Roboto_SemiCondensed-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}
@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('../../assets/Fonts/Roboto/Roboto_SemiCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../../assets/Fonts/Roboto/Roboto-Bold.ttf') format('woff2');
    font-weight: 700; /* Bold */
    font-style: normal;
}
@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('../../assets/Fonts/Roboto/Roboto_SemiCondensed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
//italic
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../../assets/Fonts/Roboto/Roboto-Regular.ttf') format('woff2');
    font-weight: 400; /* Regular */
    font-style: italic;
}
@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('../../assets/Fonts/Roboto/Roboto_SemiCondensed-MediumItalic.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: italic;
}
@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('../../assets/Fonts/Roboto/Roboto_SemiCondensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../../assets/Fonts/Roboto/Roboto-BoldItalic.ttf') format('woff2');
    font-weight: 700; /* Bold */
    font-style: italic;
}
@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('../../assets/Fonts/Roboto/Roboto_SemiCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
